*{
    font-size: 13.5px;
}
.cardwrap{
    width: 100%;
    margin: 0 auto;
    background: #000;
}

.card{
    width: 300px;height: 400px;
    background: white;
}

.mask{
    background: white;
}
.mask:hover{
    opacity: 0;
}
.confirm{
    margin-top: 15px;
}