.detail_container {
  margin: 0 auto;
  padding: 140px 40px;
  display: flex;
  flex-wrap: wrap;
}
.container_body{
  width: 30%;
}
.container_body h3{
  margin-bottom: 15px;
}
.section_image{
  width: 50%;
  height: 100%;
}
.section_image img{
  width: 100%;
  margin: 0 auto;
}

.section_option{
  width: 2%;
}
.section_option .price{
  margin-bottom: 15px;
}
.section_option button{
  width: 25px;
  height: 25px;
  background: #000;
  color: white;
  border: 0 none;
  margin-top: 5px;
}
.section_option .cart_button{
  cursor: pointer;
  width: 440px;
  height: 40px;
  background: #000;
  color: white;
  margin-top: 5px;
  border: 0 none;
}
