body{
    width: 100%;
    height: 100%;
}

.mainpage{
    width: 100vmax;
    height: 100vmax;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/images/main_1118.jpg);
}